html {
    font-family: "Ubuntu", "Roboto", sans-serif;
    font-size: 16px;
    color: black;
  }

body {
    background-color: #e6e2d3;
    margin: 0;
}

/* HEADER */

.header {
    position: fixed;
    z-index: 5;
    top: 0;
    height: 70px;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: #e6e2d3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 20px;
    text-decoration: none;
    margin-left: 25px;
    color: black;
    font-weight: bold;
}

.header ul {
    display: flex;
    margin-right: 25px;
}

.header ul li {
    padding-left: 15px;
    list-style: none;
}

.navbar .about-me {
    padding-left: 0px;
}

.navbar a {
    border-radius: 4px;
    transition: color 0.3s ease;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #696969;
}

@media only screen and (max-width: 870px) {
    .header {
        display: block;
        text-align: center;
        height: 90px;
    }

    .title {
        margin: auto;
        position: relative;
        top: 15px;
    }

    .header .navbar {
        justify-content: center;
        margin: 30px auto;
        padding: 0px;
    }
}

/* ABOUT ME */

#about-me {
    display: flex;
    align-items: flex-start;
    background-image: url("./images/geodeta.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 800px;
    max-width: 100%;
    justify-content: start;
    position: relative;
    top: 70px;
}

.text-container {
    background-color: #e6e2d3;
    border: solid 1px #979797;
    -webkit-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.75);
    border-radius: 20px;
    margin-top: 150px;
    margin-left: 150px;
    text-align: center;
    padding: 0 10px;
}

.text-container p {
    line-height: 1.3;
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
    #about-me {
        height: 600px;
    }

    .text-container {
        width: 400px;
        margin: auto 150px;
    }
}

@media only screen and (max-width: 1024px) {
    #about-me {
        height: 500px;
    }

    .text-container {
        margin: auto;
    }
}

@media only screen and (max-width: 710px) {
    .text-container {
        margin: auto 30px;
    }
}

/* MENU */

#menu {
    display: flex;
    align-items: flex-start;
    background-image: url(./images/geodeta1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 800px;
    max-width: 100%;
    justify-content: end;
    position: relative;
    top: 70px;
}

.text-container1 {
    background-color: #e6e2d3;
    border: solid 1px #979797;
    -webkit-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.75);
    border-radius: 20px;
    margin-top: 150px;
    margin-right: 250px;
    text-align: center;
    padding: 0 10px;
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
    #menu {
        height: 600px;
    }

    .text-container1 {
        width: 400px;
        margin: auto 150px;
    }
}

@media only screen and (max-width: 1024px) {
    #menu {
        height: 500px;
    }

    .text-container1 {
        margin: auto;
    }
}

/* TESTIMONIALS */

#testimonials {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    max-width: 100%;
    position: relative;
    top: 70px;
    margin: auto;
}

.testimonials h1 {
    height: 20px;
}

.testimonials img {
    margin-left: 10px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    flex-wrap: wrap;
}

.bp img {
    height: 202.5px;
    width: 360px;
}

.paleo img {
    height: 283.8px;
    width: 444px;
}

.amplus img {
    height: 209.7px;
    width: 540px;
}

@media only screen and (max-width: 1500px) {
    .biedronka img {
        height: 118.56px;
        width: 260.68px;
    }

    .mrowka img {
        height: 74.48px;
        width: 389.88px;
    }

    .bp img {
        height: 153.9px;
        width: 273.6px;
    }

    .paleo img {
        height: 215.688px;
        width: 337.44px;
    }

    .amplus img {
        height: 174.75px;
        width: 450px;
    }
}

/* CONTACT */

#contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #c4b7a6;
    bottom: 0;
    position: relative;
    top: 70px;
    padding-bottom: 25px;
}

.text p {
    font-size: 32px;
    font-weight: bold;
}

.contact-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.phone a,
.email a {
    text-decoration: none;
    margin-right: 30px;
    color: black;
}

.address a {
    text-decoration: none;
    margin-right: 0px;
    color: black;
}

@media only screen and (max-width: 680px) {
    .contact-container {
        flex-direction: column;
    }

    .email,
    .address {
        margin-top: 20px;
    }

    .phone a,
    .email a {
        margin-right: 0px;
    }

}
